*{
    padding: 0;
    margin: 20px;
    box-sizing: border-box;
    background-color: rgb(23, 19, 11);
}

#start{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.photo{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.user-image,
.comp-image{
    height: 300px;
    width: 250px;
    margin: 0;
    margin-bottom: 80px;
    color: rgb(148, 136, 48);
}

h2,
img{
    margin: 0;
    padding: 10px;
}

#user-image,
#comp-image{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
main{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex: 1;
    flex-wrap: wrap;
}

button{
    height: 50px;
    width: 150px;
    background-color: rgb(148, 136, 48);
    color: whitesmoke;
}

#userGuess,#compGuess{
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    color: rgb(152, 115, 71);
}

.userScore,.compScore,.tie{

    color: rgb(152, 115, 71);
    text-align: center;
    font-size: 20px;
}